
@{
    ViewBag.Title = "Blog";
    //Layout = "~/Views/Shared/_Header.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="#">

    <title>Galio</title>
    <link href="/Assets/Frontend/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Assets/Frontend/css/animate.css" rel="stylesheet">
    <link href="/Assets/Frontend/css/owl.carousel.css" rel="stylesheet">
    <link href="/Assets/Frontend/css/style.css" rel="stylesheet">
    <link href="/Assets/Frontend/css/responsive.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0//Assets/Frontend/css/font-awesome.min.css">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond./Assets/Frontend/js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    @Html.Partial("~/Views/Shared/_Header.cshtml")
    @Html.Partial("~/Views/Shared/_BlogLeft.cshtml")
    <div>
        <div class="col-sm-9">
            <ol id="products-list" class="blog-list">
                <li class="item">
                    <div class="item-inner">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="images-container">
                                    <a class="product-image" title="Fusce aliquam" href="#" rel="author"><img alt="Fusce aliquam" src="/Assets/Frontend/images/blog/blog-03.jpg"></a>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <h2 class="product-name"><a title="" href="#">Fusce aliquam</a></h2>
                                <div class="ratings">
                                    <div class="rating-box">
                                        <div style="width:67%" class="rating"></div>
                                    </div>
                                    <span class="amount"><a href="#">1 Review(s)</a></span>
                                    <span class="separator">|</span>
                                    <span class="comment-amount"><a href="#">4 comment</a></span>
                                </div>
                                <div class="blog-attr">
                                    <span>Post by <a href="#">Admin</a></span>
                                    <span class="separator">|</span>
                                    <span>On February 09, 2015</span>
                                </div>
                                <div class="desc">
                                    Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima.
                                </div>
                                <a href="#" class="btn btn-default btn-readmore">Read more</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="item-inner">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="images-container">
                                    <a class="product-image" title="Fusce aliquam" href="#" rel="author"><img alt="Fusce aliquam" src="/Assets/Frontend/images/blog/blog-04.jpg"></a>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <h2 class="product-name"><a title="" href="#">Fusce aliquam</a></h2>
                                <div class="ratings">
                                    <div class="rating-box">
                                        <div style="width:67%" class="rating"></div>
                                    </div>
                                    <span class="amount"><a href="#">1 Review(s)</a></span>
                                    <span class="separator">|</span>
                                    <span class="comment-amount"><a href="#">4 comment</a></span>
                                </div>
                                <div class="blog-attr">
                                    <span>Post by <a href="#">Admin</a></span>
                                    <span class="separator">|</span>
                                    <span>On February 09, 2015</span>
                                </div>
                                <div class="desc">
                                    Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima.
                                </div>
                                <a href="#" class="btn btn-default btn-readmore">Read more</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="item-inner">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="images-container">
                                    <a class="product-image" title="Fusce aliquam" href="#" rel="author"><img alt="Fusce aliquam" src="/Assets/Frontend/images/blog/blog-05.jpg"></a>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <h2 class="product-name"><a title="" href="#">Fusce aliquam</a></h2>
                                <div class="ratings">
                                    <div class="rating-box">
                                        <div style="width:67%" class="rating"></div>
                                    </div>
                                    <span class="amount"><a href="#">1 Review(s)</a></span>
                                    <span class="separator">|</span>
                                    <span class="comment-amount"><a href="#">4 comment</a></span>
                                </div>
                                <div class="blog-attr">
                                    <span>Post by <a href="#">Admin</a></span>
                                    <span class="separator">|</span>
                                    <span>On February 09, 2015</span>
                                </div>
                                <div class="desc">
                                    Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima.
                                </div>
                                <a href="#" class="btn btn-default btn-readmore">Read more</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="item-inner">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="images-container">
                                    <a class="product-image" title="Fusce aliquam" href="#" rel="author"><img alt="Fusce aliquam" src="/Assets/Frontend/images/blog/blog-06.jpg"></a>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <h2 class="product-name"><a title="" href="#">Fusce aliquam</a></h2>
                                <div class="ratings">
                                    <div class="rating-box">
                                        <div style="width:67%" class="rating"></div>
                                    </div>
                                    <span class="amount"><a href="#">1 Review(s)</a></span>
                                    <span class="separator">|</span>
                                    <span class="comment-amount"><a href="#">4 comment</a></span>
                                </div>
                                <div class="blog-attr">
                                    <span>Post by <a href="#">Admin</a></span>
                                    <span class="separator">|</span>
                                    <span>On February 09, 2015</span>
                                </div>
                                <div class="desc">
                                    Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima.
                                </div>
                                <a href="#" class="btn btn-default btn-readmore">Read more</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="item-inner">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="images-container">
                                    <a class="product-image" title="Fusce aliquam" href="#" rel="author"><img alt="Fusce aliquam" src="/Assets/Frontend/images/blog/blog-07.jpg"></a>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <h2 class="product-name"><a title="" href="#">Fusce aliquam</a></h2>
                                <div class="ratings">
                                    <div class="rating-box">
                                        <div style="width:67%" class="rating"></div>
                                    </div>
                                    <span class="amount"><a href="#">1 Review(s)</a></span>
                                    <span class="separator">|</span>
                                    <span class="comment-amount"><a href="#">4 comment</a></span>
                                </div>
                                <div class="blog-attr">
                                    <span>Post by <a href="#">Admin</a></span>
                                    <span class="separator">|</span>
                                    <span>On February 09, 2015</span>
                                </div>
                                <div class="desc">
                                    Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima.
                                </div>
                                <a href="#" class="btn btn-default btn-readmore">Read more</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="item-inner">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="images-container">
                                    <a class="product-image" title="Fusce aliquam" href="#" rel="author"><img alt="Fusce aliquam" src="/Assets/Frontend/images/blog/blog-08.jpg"></a>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <h2 class="product-name"><a title="" href="#">Fusce aliquam</a></h2>
                                <div class="ratings">
                                    <div class="rating-box">
                                        <div style="width:67%" class="rating"></div>
                                    </div>
                                    <span class="amount"><a href="#">1 Review(s)</a></span>
                                    <span class="separator">|</span>
                                    <span class="comment-amount"><a href="#">4 comment</a></span>
                                </div>
                                <div class="blog-attr">
                                    <span>Post by <a href="#">Admin</a></span>
                                    <span class="separator">|</span>
                                    <span>On February 09, 2015</span>
                                </div>
                                <div class="desc">
                                    Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima.
                                </div>
                                <a href="#" class="btn btn-default btn-readmore">Read more</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ol>
            <nav>
                <ul class="pagination">
                    <li><a href="#" aria-label="Previous">Prev</a></li>
                    <li class="divider"><span>|</span></li>
                    <li><a href="#">1</a></li>
                    <li class="divider"><span>|</span></li>
                    <li><a href="#">2</a></li>
                    <li class="divider"><span>|</span></li>
                    <li><a href="#" aria-label="Next">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/_Footer.cshtml")
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/Assets/Frontend/js/bootstrap.min.js"></script>
    <script src="/Assets/Frontend/js/owl.carousel.min.js"></script>
    <script src="/Assets/Frontend/js/main.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            /* recent-post slider */
            $("#recent-post .owl").owlCarousel({
                autoPlay: false,
                items: 1,
                itemsDesktop: [1199, 1],
                itemsDesktopSmall: [991, 1],
                itemsTablet: [767, 2],
                itemsMobile: [480, 1],
                slideSpeed: 3000,
                paginationSpeed: 3000,
                rewindSpeed: 3000,
                navigation: true,
                stopOnHover: true,
                pagination: false,
                scrollPerPage: true,
            });
        });
    </script>
</body>
</html>

